.bottle {
  border: 2px solid gray;
  padding: 20px;
  border-radius: 20px;
}

.bottle img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.bottle p {
  background-color: gray;
  padding: 20px;
  font-size: 20px;
  font-weight: 900;
  border-radius: 15px;
  box-shadow: 2px 2px;
}
.bottle h4 {
  background-color: green;
  padding: 15px;
  border-radius: 10px;
  font-size: x-large;
  font-weight: bolder;
}

.bottle button {
  background-color: green;
  font-size: 28px;
  font-weight: 900;
}

.price-container {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.rating-container {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

@media screen and (max-width: 600px) {
  .bottle {
    padding: 13px;
  }
  .bottle p {
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
  }
  .bottle h4 {
    padding: 10px;
    font: size 20px;
    font-weight: 800;
  }
  .bottle button {
    font-size: 20px;
    font-weight: 700;
  }
}
